* {
    box-sizing: border-box;
}

body {
    background-image: url('../../images/banner/sder_2.jpg');
    background-size: cover;
}

.slider-container {
    padding: 0px 15px;
    margin: auto;
}

.slider .mySlider img {
    width: 700px;
    height: 530px;
    border-radius: 8px;
}

.sliderText {
    color: #fff;
}

.slider {
    text-align: center;
    position: relative;
}

.slider-container .slider .h1_1 {
    font-size: 60px;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../../images/banner/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back-text 20s linear infinite;
    position: absolute;
    right: 28px;
    top: 250px;
}

@keyframes back-text {
    100% {
        background-position: 2000px 0;
    }
}

.slider-container .slider .h1_2 {
    font-size: 60px;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../../images/banner/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back-text 20s linear infinite;
    position: absolute;
    left: 28px;
    top: 250px;
}

@keyframes back-text {
    100% {
        background-position: 2000px 0;
    }
}

.slider-container button {
    padding: 5px 10px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(94, 192, 154, 1) 61%, rgba(65, 192, 174, 1) 94%, rgba(87, 192, 159, 1) 100%, rgba(253, 187, 45, 1) 100%);
}
.slider-container button:hover {
    background: rgb(149, 236, 238);
    background: linear-gradient(0deg, rgb(167, 234, 235) 0%, rgb(142, 227, 194) 61%, rgb(144, 224, 212) 94%, rgb(156, 214, 196) 100%, rgb(231, 196, 121) 100%);
}